body { 
    background: #d8dfe4; 
    color: rgba(0,0,0,0.8); 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
}

h2 {
    color: rgba(0,0,0,0.72)
}

#message {
    border-radius: 2px;
    margin: 0 16px 16px;
    padding: 16px 24px;
    position: relative;
}

#load {
    color: rgba(0,0,0,0.1)
}